/* Rectangle 9 */

position: absolute;
width: 1440px;
height: 3527px;
left: 0px;
top: 9px;

background: #F0F0F0;


/* Rectangle 12 */

position: absolute;
width: 1440px;
height: 216px;
left: 0px;
top: 3320px;

background: #291A10;


/* Rectangle */

position: absolute;
width: 1440px;
height: 590px;
left: 0px;
top: 108px;

background: url(FullSizeRender-5.jpg), url(FullSizeRender-4.jpg), #E0DADA;


/* Rectangle 12 */

position: absolute;
width: 1440px;
height: 589px;
left: 0px;
top: 109px;

background: rgba(0, 0, 0, 0.42);


/* Rectangle */

position: absolute;
width: 1440px;
height: 488px;
left: 0px;
top: 855px;

background: #EBD5D5;


/* Rectangle 2 */

position: absolute;
width: 1440px;
height: 108px;
left: 0px;
top: 0px;

background: #EDEDED;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Natural. O */

position: absolute;
width: 313px;
height: 91px;
left: 576px;
top: 11px;

font-family: Rozha One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 64px;

color: #000000;


/* Ellipse */

position: absolute;
width: 23.22px;
height: 23px;
left: 708.39px;
top: 643px;

border: 1px solid #000000;
box-sizing: border-box;


/* Ellipse */

position: absolute;
width: 23.22px;
height: 23px;
left: 788.78px;
top: 643px;

border: 1px solid #000000;
box-sizing: border-box;


/* Ellipse */

position: absolute;
width: 23.22px;
height: 23px;
left: 748.58px;
top: 643px;

border: 1px solid #000000;
box-sizing: border-box;


/* Ellipse */

position: absolute;
width: 23.22px;
height: 23px;
left: 668.19px;
top: 643px;

background: rgba(0, 0, 0, 0.17);
border: 1px solid #000000;
box-sizing: border-box;


/* Ellipse */

position: absolute;
width: 23.22px;
height: 23px;
left: 628px;
top: 643px;

border: 1px solid #000000;
box-sizing: border-box;


/* Ellipse */

position: absolute;
width: 49px;
height: 49px;
left: 43px;
top: 375px;

background: #DBDBDB;
border: 1px solid #696969;
box-sizing: border-box;


/* Ellipse */

position: absolute;
width: 49px;
height: 49px;
left: 1346px;
top: 375px;

background: #DBDBDB;
border: 1px solid #696969;
box-sizing: border-box;


/* Ellipse */

position: absolute;
width: 31.3px;
height: 31px;
left: 1224px;
top: 40px;

background: url(if_facebook_social_media_online_1940929.png);


/* Ellipse */

position: absolute;
width: 31.3px;
height: 31px;
left: 1262px;
top: 40px;

background: url(if_instagram_social_media_online-_1940924.png);


/* Ellipse */

position: absolute;
width: 31.3px;
height: 31px;
left: 1186px;
top: 40px;

background: url(if_twitter_social_media_online_1940915.png);


/* Ellipse */

position: absolute;
width: 31.3px;
height: 31px;
left: 1148px;
top: 40px;

background: url(if_pinterest_social_media_online_1940921.png);


/* Line */

position: absolute;
width: 58.9px;
height: 0px;
left: 831px;
top: 82px;

border: 3px solid #000000;
transform: rotate(-49.82deg);


/* if_youtube_social_media_online_1940910 */

position: absolute;
width: 32px;
height: 32px;
left: 1300px;
top: 40px;



/* OUTLINE copy */

position: absolute;
width: 32px;
height: 32px;
left: 1300px;
top: 40px;



/* Group */

position: absolute;
width: 14px;
height: 17.32px;
left: 1309px;
top: 46.89px;



/* Group */

position: absolute;
width: 14px;
height: 9.37px;
left: 1309px;
top: 54.83px;



/* Vector */

position: absolute;
width: 0.72px;
height: 0.91px;
left: 1320.23px;
top: 58.75px;

background: #414752;


/* Vector */

position: absolute;
width: 0.68px;
height: 2.95px;
left: 1317.44px;
top: 58.73px;

background: #414752;


/* Vector */

position: absolute;
width: 14px;
height: 9.37px;
left: 1309px;
top: 54.83px;

background: #414752;


/* Vector */

position: absolute;
width: 2.62px;
height: 4.64px;
left: 1317.97px;
top: 48.51px;

background: #414752;


/* Vector */

position: absolute;
width: 2.67px;
height: 4.81px;
left: 1314.56px;
top: 48.4px;

background: #414752;


/* Vector */

position: absolute;
width: 3.47px;
height: 6.2px;
left: 1311.01px;
top: 46.89px;

background: #414752;


/* Group */

position: absolute;
width: 32px;
height: 32px;
left: 1300px;
top: 40px;



/* Shopping 10 112 */

position: absolute;
width: 32px;
height: 32px;
left: 1300px;
top: 40px;



/* Group */

position: absolute;
width: 32px;
height: 32px;
left: 1300px;
top: 40px;



/* Group */

position: absolute;
width: 32px;
height: 32px;
left: 1300px;
top: 40px;



/* Group */

position: absolute;
width: 32px;
height: 32px;
left: 1300px;
top: 40px;



/* Group */

position: absolute;
width: 32px;
height: 32px;
left: 1300px;
top: 40px;



/* Vector */

position: absolute;
width: 32px;
height: 32px;
left: 1300px;
top: 40px;

background: #414752;


/* Rectangle 3 */

position: absolute;
width: 41px;
height: 4.51px;
left: 61px;
top: 40px;

background: #3D3D3D;
border-radius: 5px;


/* Rectangle 3.1 */

position: absolute;
width: 41px;
height: 4.51px;
left: 61px;
top: 63.49px;

background: #3D3D3D;
border-radius: 5px;


/* Rectangle 3.2 */

position: absolute;
width: 41px;
height: 4.51px;
left: 61px;
top: 51.75px;

background: #3D3D3D;
border-radius: 5px;


/* Rectangle 4 */

position: absolute;
width: 485px;
height: 44px;
left: 473px;
top: 917px;

background: #EE9191;


/* I would describe my hair type as... */

position: absolute;
width: 611px;
height: 99px;
left: 476px;
top: 911px;

font-family: Rozha One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 30px;

color: #000000;


/* Personalize Your Articles */

position: absolute;
width: 775px;
height: 99px;
left: 525px;
top: 783px;

font-family: Rozha One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 30px;

color: #000000;


/* Ellipse 2 */

position: absolute;
width: 257px;
height: 257px;
left: 1138px;
top: 866px;

background: #943838;


/* Ellipse 2.1 */

position: absolute;
width: 196px;
height: 196px;
left: 1300px;
top: 1032px;

background: #E09898;


/* Ellipse 2.2 */

position: absolute;
width: 196px;
height: 196px;
left: 43px;
top: 896px;

background: #943838;


/* Ellipse 2.3 */

position: absolute;
width: 305px;
height: 305px;
left: -144px;
top: 897px;

background: #C76137;


/* Ellipse 2.4 */

position: absolute;
width: 124px;
height: 124px;
left: 206px;
top: 1061px;

background: #C48484;


/* Line 2 */

position: absolute;
width: 499.01px;
height: 0px;
left: 458px;
top: 1084px;

border: 3px solid #6B4141;
transform: rotate(0.34deg);


/* Polygon */

position: absolute;
width: 34px;
height: 34px;
left: 947px;
top: 1070px;

background: #6B4141;
border: 1px solid #943838;
box-sizing: border-box;
transform: rotate(-180deg);


/* Rectangle 9.2 */

position: absolute;
width: 309px;
height: 512px;
left: 131px;
top: 1467px;

background: #D4D4D4;


/* Rectangle 5 */

position: absolute;
width: 311px;
height: 342px;
left: 124px;
top: 1460px;

background: url(FullSizeRender-1.jpg), url(FullSizeRender.jpg), rgba(196, 196, 196, 0.32);


/* Rectangle 9.3 */

position: absolute;
width: 309px;
height: 511.83px;
left: 1013px;
top: 1467.17px;

background: #D4D4D4;


/* Rectangle 5.1 */

position: absolute;
width: 311px;
height: 342px;
left: 1006px;
top: 1460px;

background: url(FullSizeRender.jpg), rgba(196, 196, 196, 0.32);


/* Rectangle 9.1 */

position: absolute;
width: 309px;
height: 511.83px;
left: 572px;
top: 1467.17px;

background: #D4D4D4;


/* Rectangle 5.2 */

position: absolute;
width: 311px;
height: 342px;
left: 565px;
top: 1460px;

background: url(FullSizeRender-3.jpg), rgba(196, 196, 196, 0.32);


/* Rectangle 9 */

position: absolute;
width: 1151px;
height: 442px;
left: 140px;
top: 2089px;

background: #D4D4D4;


/* Rectangle 6 */

position: absolute;
width: 713px;
height: 458px;
left: 124px;
top: 2061px;

background: url(FullSizeRender-4.jpg), rgba(196, 196, 196, 0.51);


/* Rectangle 6.1 */

position: absolute;
width: 443px;
height: 458px;
left: 837px;
top: 2061px;

background: #FFFFFF;


/* Rectangle 7 */

position: absolute;
width: 235px;
height: 47px;
left: 163px;
top: 1445px;

background: #E8CCC7;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 7.1 */

position: absolute;
width: 235px;
height: 47px;
left: 1045px;
top: 1445px;

background: #E8CCC7;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 7.2 */

position: absolute;
width: 235px;
height: 47px;
left: 609px;
top: 1445px;

background: #E8CCC7;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 7.6 */

position: absolute;
width: 235px;
height: 59px;
left: 1067px;
top: 2041px;

background: #E8CCC7;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 8 */

position: absolute;
width: 311px;
height: 170px;
left: 124px;
top: 1802px;

background: #FFFFFF;


/* Rectangle 8.1 */

position: absolute;
width: 311px;
height: 170px;
left: 1006px;
top: 1802px;

background: #FFFFFF;


/* Rectangle 8.2 */

position: absolute;
width: 311px;
height: 170px;
left: 565px;
top: 1802px;

background: #FFFFFF;


/* PRODUCTS */

position: absolute;
width: 137px;
height: 33px;
left: 221px;
top: 1452px;

font-family: Rozha One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
letter-spacing: 0.06em;

color: #000000;


/* ROUTINE */

position: absolute;
width: 124px;
height: 33px;
left: 671px;
top: 1452px;

font-family: Rozha One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
letter-spacing: 0.06em;

color: #000000;


/* ROUTINE */

position: absolute;
width: 124px;
height: 33px;
left: 1130px;
top: 2054px;

font-family: Rozha One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
letter-spacing: 0.06em;

color: #000000;


/* STYLES */

position: absolute;
width: 124px;
height: 33px;
left: 1117px;
top: 1452px;

font-family: Rozha One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
letter-spacing: 0.06em;

color: #000000;


/* Rectangle 10 */

position: absolute;
width: 325px;
height: 72px;
left: 561px;
top: 1241px;

background: #E0E0E0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* CURATE MY ARTICLES */

position: absolute;
width: 611px;
height: 99px;
left: 599px;
top: 1263px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;

color: #000000;


/* Hijabs Made With Your Skintone in Mind */

position: absolute;
width: 243px;
height: 99px;
left: 163px;
top: 1831px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
line-height: 34px;
font-size: 24px;
text-align: center;

color: #171717;


/* Tips to Make Your Twist-Out Last Longer */

position: absolute;
width: 243px;
height: 99px;
left: 1045px;
top: 1831px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
line-height: 34px;
font-size: 24px;
text-align: center;

color: #171717;


/* Oily Skin? Find Your New Skin Routine Here */

position: absolute;
width: 243px;
height: 99px;
left: 599px;
top: 1831px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
line-height: 34px;
font-size: 24px;
text-align: center;

color: #171717;


/* Rectangle 9.4 */

position: absolute;
width: 309px;
height: 512px;
left: 131px;
top: 2658px;

background: #D4D4D4;


/* Rectangle 5.3 */

position: absolute;
width: 311px;
height: 342px;
left: 124px;
top: 2651px;

background: url(FullSizeRender-1.jpg), url(FullSizeRender.jpg), rgba(196, 196, 196, 0.32);


/* Rectangle 9.5 */

position: absolute;
width: 309px;
height: 511.83px;
left: 1013px;
top: 2658.17px;

background: #D4D4D4;


/* Rectangle 5.4 */

position: absolute;
width: 311px;
height: 342px;
left: 1006px;
top: 2651px;

background: url(FullSizeRender.jpg), rgba(196, 196, 196, 0.32);


/* Rectangle 9.6 */

position: absolute;
width: 309px;
height: 511.83px;
left: 572px;
top: 2658.17px;

background: #D4D4D4;


/* Rectangle 5.5 */

position: absolute;
width: 311px;
height: 342px;
left: 565px;
top: 2651px;

background: url(FullSizeRender-3.jpg), rgba(196, 196, 196, 0.32);


/* Rectangle 7.3 */

position: absolute;
width: 235px;
height: 47px;
left: 163px;
top: 2636px;

background: #E8CCC7;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 7.4 */

position: absolute;
width: 235px;
height: 47px;
left: 1045px;
top: 2633px;

background: #E8CCC7;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 7.5 */

position: absolute;
width: 235px;
height: 47px;
left: 603px;
top: 2633px;

background: #E8CCC7;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 8.4 */

position: absolute;
width: 311px;
height: 170px;
left: 124px;
top: 2993px;

background: #FFFFFF;


/* Rectangle 8.5 */

position: absolute;
width: 311px;
height: 170px;
left: 1006px;
top: 2993px;

background: #FFFFFF;


/* Rectangle 8.6 */

position: absolute;
width: 311px;
height: 170px;
left: 565px;
top: 2993px;

background: #FFFFFF;


/* PRODUCTS */

position: absolute;
width: 137px;
height: 33px;
left: 221px;
top: 2643px;

font-family: Rozha One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
letter-spacing: 0.06em;

color: #000000;


/* ROUTINE */

position: absolute;
width: 124px;
height: 33px;
left: 671px;
top: 2643px;

font-family: Rozha One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
letter-spacing: 0.06em;

color: #000000;


/* STYLES */

position: absolute;
width: 124px;
height: 33px;
left: 1117px;
top: 2643px;

font-family: Rozha One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
letter-spacing: 0.06em;

color: #000000;


/* Hijabs Made With Your Skintone in Mind */

position: absolute;
width: 243px;
height: 99px;
left: 163px;
top: 3022px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
line-height: 34px;
font-size: 24px;
text-align: center;

color: #171717;


/* Tips to Make Your Twist-Out Last Longer */

position: absolute;
width: 243px;
height: 99px;
left: 1045px;
top: 3022px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
line-height: 34px;
font-size: 24px;
text-align: center;

color: #171717;


/* Oily Skin? Find Your New Care Routine Here */

position: absolute;
width: 243px;
height: 99px;
left: 599px;
top: 3022px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
line-height: 34px;
font-size: 24px;
text-align: center;

color: #171717;


/* How to Make the Most Out of Your Wash Days */

position: absolute;
width: 349px;
height: 99px;
left: 892px;
top: 2181px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
line-height: 34px;
font-size: 24px;
text-align: center;

color: #171717;


/* By Shonda Lewis */

position: absolute;
width: 152px;
height: 21px;
left: 208px;
top: 1938px;

font-family: Rozha One;
font-style: normal;
font-weight: normal;
line-height: 29px;
font-size: 18px;
text-align: center;
letter-spacing: 0.03em;

color: #3B3B3B;


/* Line 3 */

position: absolute;
width: 44px;
height: 0px;
left: 1350px;
top: 33px;

border: 2px solid #000000;
transform: rotate(90deg);


/* Rectangle 11 */

position: absolute;
width: 36px;
height: 38px;
left: 1363px;
top: 39px;

background: url(if_icon-111-search_314478.png);
